.large {
    font-size: 24px;
}

.medium {
    font-size: 16px;
}

.small {
    font-size: 13px;
}

.panel {
   font-size: 13px; 
}

.btn-block:hover {
    text-decoration: none!important;
}
a.btn {
    color: #333!important;
}
b {
	font-weight: bold;
}
ol {
	margin-left: 15px;
}